# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (if not committing Pods)
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/
*.resolved

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
.DS_Store
*.orig
